body .main {
  height: 100%;
  width: 100%;
}

body.light-mode {
  background-color: #fff;
  background-image: url(./Tracelight.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #171717;
  background-image: url(./Tracedark.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #dfdfdf;
}

#intro {
  color: pink;
  -webkit-text-stroke: 2px black;
}

#tagline {
  -webkit-text-stroke: 2px black;
}

#hireme {
  -webkit-text-stroke: 0.5px black;
  font-family: 'Blank Font';
}

#workwithme {
  -webkit-text-stroke: 1.3px black;
}

#seemywork {
  -webkit-text-stroke: 1.3px black;
}

@font-face {
   font-family: 'Blank Font';
   src: url(./BlanksscriptpersonaluseBdit-jEM6O.otf);
}
