body, .main, .coverimg {
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: 'Space Grotesk';
}


body.light-mode {
 background-color: #fafafa;
}

body.dark-mode {
  background-color: #050505;
}

.content {
  position: absolute;
  left: 50%; 
  margin-top: 5rem;
  transform: translateX(-50%);
  width: 100%;
  height: 80vh;
}

.main, .coverimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: -1;
}

.coverimg {
  opacity: 0.6;
}

body.light-mode .main {
  background-color: #fafafa;
  background-image: url(./assets/Tracelight.svg);
  color: #333;
  transition: background-color 0.3s ease;
}

.coverimg {
 background-image: url(./assets/cover_lap.svg);
}

body.dark-mode .main {
  background-color: #050505;
  background-image: url(./assets/Tracedark.svg);
  color: #dfdfdf;
  transition: background-color 0.3s ease;
}

body.light-mode .content {
  background-color: transparent;
  color: #333;
}

body.dark-mode .content {
  background-color: transparent;
  color: #dfdfdf;
}

body.light-mode .navcomp {
  background-color: transparent;
  color: #333;
}

body.dark-mode .navcomp {
  background-color: transparent;
  color: #dfdfdf;
}

body.dark-mode .navbutton {
  border-color: white;
  border-width: 1px;
  color: white;
  background-color: #050505;
}

body.light-mode .descdiv {
  background-color: #fafafa;
  color: #333;
  border-radius: 2%;
  word-wrap: break-word;
  box-shadow: 10px 10px 0px 0px #050505;
}

.introdiv {
  background-color: #fafafa;
  color: #333;
  border-radius: 2%;
  width: 60%;
  word-wrap: break-word;
  box-shadow: 10px 10px 0px 0px #050505;
}

body.dark-mode .descdiv {
  background-color: #050505;
  color: #dfdfdf;
  border-radius: 2%;
  word-wrap: break-word;
  box-shadow: 10px 10px 0px 0px #fafafa;
}

#intro, #tagline, #bloghead, #projects, #opsrc {
  -webkit-text-stroke: 1.3px black;
  font-family: 'Stinger Wide';
}

#hireme {
  -webkit-text-stroke: 0.5px black;
  font-family: 'Blank Font';
}

body.light-mode .mypic {
  border: solid 2px #050505;
  box-shadow: 10px 10px 0px 0px #050505;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

body.dark-mode .mypic {
  border: solid 2px #fafafa;
  box-shadow: 10px 10px 0px 0px #fafafa;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

body.light-mode .card {
  height: 580px;
  width: 440px;
  border: solid 2px #050505;
  box-shadow: 10px 10px #050505;
  text-align: inherit;
  background-color: #fafafa;
  border-radius: 8px;
  margin: 10px;
  text-overflow: ellipsis;
}

body.dark-mode .card {
  height: 580px;
  width: 440px;
  border: solid 2px #fafafa;
  box-shadow: 10px 10px #fafafa;
  text-align: inherit;
  margin: 10px;
  background-color: #171717;
  border-radius: 8px;
  text-overflow: ellipsis;
}

.cardcontent {
  height: 560px;
  width: 440px;
  background-color: transparent;
  padding: 10px;
  text-overflow: ellipsis;
  border-radius: 8px;
}

body.light-mode .line {
  height: 4px;
  background-color: black;
}

body.dark-mode .line {
  height: 4px;
  background-color: white;
}

.buttons {
  background-color: transparent;
  width: 400px;
  padding: 4px;
  display: flex;
  gap: 3px;
}

body.light-mode .buttons .button-red, body.light-mode .buttons .button-yellow, body.light-mode .buttons .button-green {
  border: 2px solid #050505;
}

body.dark-mode .buttons .button-red, body.dark-mode .buttons .button-yellow, body.dark-mode .buttons .button-green {
  border: 2px solid #fafafa;
}

.buttons .button-red {
  width: 15px;
  height: 15px;  
  border-radius: 50%;
  background-color: red;
}

.buttons .button-yellow {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffcc33;
}

.buttons .button-green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #32CD32;
}

.blogcard {
  left: 40%;
}

@media screen and (max-width: 600px) {
  body.light-mode .card, body.dark-mode .card {
     width: 230px;
     height: 300px;
     margin: 15px;
  }

 body.light-mode .buttons, body.dark-mode .buttons {
    width: 220px;
  }

  .cardcontent {
    width: 230px;
    height: 280px;
    font-size: 2vmin;
  }

  body.light-mode .button-red, body.light-mode .button-yellow, body.light-mode .button-green {
    width: 8px;
    height: 8px;
    border: 1px;
  }

  body.dark-mode .button-red, body.dark-mode .button-yellow, body.dark-mode .button-green {
    width: 8px;
    height: 8px;
    border: 1px;
  }

 .coverimg {
    background-image: url(./assets/cover_mob.svg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: fixed; 
    z-index: -1;
    opacity: 0.6;
  }
}

@media screen and (max-width: 920px)
{
  .coverimg {
    background-image: url(./assets/cover_mob.svg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    position: fixed; 
    z-index: -1;
    opacity: 0.6;
  }
}

@media screen and (max-width: 1200px)
{
  body.light-mode .card, body.dark-mode .card {
     margin-left: 30px;
  }
  
  .coverimg {
   background-image: url(./assets/cover_lap.svg);
  }
}

@media screen and (max-width: 1600px)
{
  body.light-mode .card, body.dark-mode .card {
     margin-left: 40px;
  }
  
  .coverimg {
   background-image: url(./assets/cover_lap.svg);
  }
}

@font-face {
   font-family: 'Blank Font';
   src: url(./assets/BlanksscriptpersonaluseBdit-jEM6O.otf);
}

@font-face {
  font-family: 'Stinger Wide';
  src: url(./assets/stinger-wide-trial.heavy.ttf.otf);
}

@font-face {
  font-family: 'Space Grotesk';
  src: url(./assets/SpaceGrotesk-Regular.otf);
}
